.medicalCards-card {
    margin-top: 30px;
}
.medicalCards_diagnosis {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.medicalCard_navLink {
    color: #FFFFFF;
}