.mainPage {
    margin: 30px;
}

.li {
    text-align: center;
    margin-bottom: 30px;
    min-width: 260px;
    min-height: 50px;
}

.list-group-item {
    position: relative;
    color: #009b5c;
    display: block;
    padding: 20px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:hover {
    text-decoration: none;
}

.list-group-item:last-child {
    text-decoration: none;
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.box16 {
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
}

.box16 .box-content, .box16:after {
    width: 100%;
    position: absolute;
    left: 0;
}

.box16:after {
    content: "";
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .08) 69%, rgba(0, 0, 0, .76) 100%);
    top: 0;
    transition: all .5s ease 0s;
}

.box16 .post, .box16 .title, .rating {
    transform: translateY(145px);
    transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s;
}

.box16:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .09) 11%, rgba(0, 0, 0, .12) 13%, rgba(0, 0, 0, .19) 20%, rgba(0, 0, 0, .29) 28%, rgba(0, 0, 0, .29) 29%, rgba(0, 0, 0, .42) 38%, rgba(0, 0, 0, .46) 43%, rgba(0, 0, 0, .53) 47%, rgba(0, 0, 0, .75) 69%, rgba(0, 0, 0, .87) 84%, rgba(0, 0, 0, .98) 99%, rgba(0, 0, 0, .94) 100%)
}

.box16 img {
    min-width: 100%;
    height: 100%;
}

.box16 .box-content {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
}

.box16 .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.box16 .post {
    display: block;
    padding: 8px 0;
    font-size: 15px;
}

.box16 .profile li a, .box17 .icon li a {
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
}

.box16:hover .post, .box16:hover .title {
    transform: translateY(0);
}

.box16:hover .profile {
    opacity: 1;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
}

.text-center {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 50px;
}

@media only screen and (max-width: 990px) {
    .box16 {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 420px) {
    .box16 .profile {
        list-style: none;
        padding: 0 0 5px;
        margin: 40px 0 25px;
        opacity: 0;
        position: relative;
        transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
        transition: all .6s cubic-bezier(0, 0, .58, 1) 0s;
    }
    .box16 .profile:before {
        content: "";
        width: 50px;
        height: 2px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -23px;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 420px) {
    .box16 .post, .box16 .title, .rating {
        transform: translateY(0);
    }
    .box16:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0,
        rgba(0, 0, 0, .09) 11%,
        rgba(0, 0, 0, .12) 13%,
        rgba(0, 0, 0, .19) 20%,
        rgba(0, 0, 0, .29) 28%,
        rgba(0, 0, 0, .29) 29%,
        rgba(0, 0, 0, .42) 38%,
        rgba(0, 0, 0, .46) 43%,
        rgba(0, 0, 0, .53) 47%,
        rgba(0, 0, 0, .75) 69%,
        rgba(0, 0, 0, .87) 84%,
        rgba(0, 0, 0, .98) 99%,
        rgba(0, 0, 0, .94) 100%)
    }

}