.medicalCard_button {
    margin-top: 30px;
}
.medicalCard_navLink {
    color: #07019b;
}
.medicalCard_navLink:hover {
    color: #FFFFFF;
}
.label_error {
    color: red;
}
.diagnosis_field {
    border-color: red!important;
}

.saveButton_quest {
    margin-top: 80px;
}