.AdminToolbar {
    color: white;
}

.AdminToolbarLink {
    color: white;
    text-decoration: none;
}

.AdminToolbarLink:hover {
    color: white;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
}