.cardPage_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardPage_info-block {
    padding: 15px 0;
}
.cardPage_questionnaire-block {
    display: flex;
    justify-content: space-between;
}