.News .doctor-img{
  margin-right: 20px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 990px) {
  .News .doctor-img {
    float: none;
  }
}
.descriptionNews{
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow:hidden;
}
