.New {
    color: red;
    text-decoration: none;
}

.Read {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.New:hover,
.Read:hover {
    color: #007bff;
    text-decoration: none;
}